h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

.paragraph--type--call-to-action-cta-banner {
  max-width: 2100px;
  margin: 0 auto;
}
.paragraph--type--call-to-action-cta-banner
  .component__wrapper.remove_bottom_space {
  margin-bottom: 0 !important;
}
.paragraph--type--call-to-action-cta-banner .cta-banner--with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #c14991;
}
@media (min-width: 768px) {
  .paragraph--type--call-to-action-cta-banner .cta-banner--with-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  .paragraph--type--call-to-action-cta-banner .cta-banner--with-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.paragraph--type--call-to-action-cta-banner .cta-banner--with-image__content {
  background-color: #c14991;
  width: 100%;
  padding: 24px 20px 48px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
@media (min-width: 768px) {
  .paragraph--type--call-to-action-cta-banner .cta-banner--with-image__content {
    padding: 51px 24px 51px 78px;
  }
}
@media (min-width: 1025px) {
  .paragraph--type--call-to-action-cta-banner .cta-banner--with-image__content {
    padding: 0px 24px 0px 78px;
  }
}
.paragraph--type--call-to-action-cta-banner .cta-banner--with-image__image {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.paragraph--type--call-to-action-cta-banner .cta-banner--with-image__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 250px;
  max-height: 250px;
}
@media (min-width: 768px) {
  .paragraph--type--call-to-action-cta-banner
    .cta-banner--with-image__image
    img {
    min-height: 472px;
    max-height: 472px;
  }
}
.paragraph--type--call-to-action-cta-banner .cta-banner--no-image {
  background-color: #c14991;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 48px 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .paragraph--type--call-to-action-cta-banner .cta-banner--no-image {
    padding: 51px 78px;
  }
}
@media (min-width: 1440px) {
  .paragraph--type--call-to-action-cta-banner .cta-banner--no-image {
    padding: 72px 78px;
  }
}
.paragraph--type--call-to-action-cta-banner
  .cta-banner--no-image
  .cta-banner--with-image__content {
  padding: 0;
}
.paragraph--type--call-to-action-cta-banner .cta-banner--headline {
  color: #ffffff;
  padding: 0px 0px 24px 0px;
  margin: 0px;
}
.paragraph--type--call-to-action-cta-banner .cta-banner--description {
  color: #ffffff;
  padding: 0px 0px 24px 0px;
  margin: 0px;
}
.paragraph--type--call-to-action-cta-banner .cta-banner--cta-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.paragraph--type--call-to-action-cta-banner .cta-banner--cta-link:hover {
  color: #003087;
  background-color: #c9efff;
}
