h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

footer {
  position: relative;
  background-color: #003087;
  color: #ffffff;
  float: left;
  width: 100%;
  padding: 32px 18px;
}
@media (min-width: 1025px) {
  footer {
    padding: 48px 18px;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 48px 0px;
  }
}
footer .container {
  margin-bottom: 0;
}
footer .footer_top {
  margin-bottom: 24px;
}
footer .footer_top img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
@media (min-width: 1025px) {
  footer .footer_top img {
    max-width: 417px;
  }
}
@media (min-width: 1440px) {
  footer .footer_top {
    margin-bottom: 32px;
  }
}
footer .footer_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 24px;
  position: relative;
}
@media (min-width: 1025px) {
  footer .footer_middle {
    margin-bottom: 32px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
footer .footer_middle > div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding-right: 15px;
}
@media (min-width: 1025px) {
  footer .footer_middle > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
footer .footer_middle .first-column {
  margin-bottom: 24px;
}
@media (min-width: 1025px) {
  footer .footer_middle .first-column {
    margin-bottom: 0px;
  }
}
footer .footer_middle .second-column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}
@media (min-width: 1025px) {
  footer .footer_middle .second-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
footer .footer_middle .third-column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}
@media (min-width: 1025px) {
  footer .footer_middle .third-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
footer .footer_middle .fourth-column {
  margin-top: 24px;
}
@media (min-width: 1025px) {
  footer .footer_middle .fourth-column {
    margin-top: 0px;
  }
}
footer .footer_middle .address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-right: 0;
  margin-bottom: 4px;
}
@media (min-width: 1025px) {
  footer .footer_middle .address {
    font-size: 16px;
    line-height: 24px;
    padding-right: 115px;
    margin-bottom: 32px;
  }
}
footer .footer_middle .contact-link a {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  text-decoration: underline;
}
footer .footer_middle .contact-link a:hover,
footer .footer_middle .contact-link a:focus {
  text-decoration: none;
}
@media (min-width: 1025px) {
  footer .footer_middle .contact-link a {
    font-size: 18px;
    line-height: 28px;
  }
}
footer .footer_middle ul:not(.contextual-links) {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}
footer .footer_middle ul:not(.contextual-links) li {
  list-style: none;
}
footer .footer_middle ul:not(.contextual-links) li a {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 4px;
  text-decoration: underline;
}
@media (min-width: 1025px) {
  footer .footer_middle ul:not(.contextual-links) li a {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 23px;
  }
}
footer .footer_middle ul:not(.contextual-links) li a:hover,
footer .footer_middle ul:not(.contextual-links) li a:focus {
  text-decoration: none;
}
footer .footer_middle ul:not(.contextual-links) li:last-child a {
  margin-bottom: 0;
}
footer .footer_middle .social-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  footer .footer_middle .social-link-wrapper {
    margin-bottom: 32px;
  }
}
footer .footer_middle .social-link-wrapper span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
}
@media (min-width: 1025px) {
  footer .footer_middle .social-link-wrapper span {
    font-size: 18px;
    line-height: 28px;
  }
}
footer .footer_middle .social-link-wrapper span a {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  color: #ffffff;
}
footer .footer_middle .social-link-wrapper span a:hover:after,
footer .footer_middle .social-link-wrapper span a:focus:after {
  opacity: 1;
}
footer .footer_middle .social-link-wrapper span.facebook a {
  position: relative;
  font-size: 0;
}
footer .footer_middle .social-link-wrapper span.facebook a:after {
  content: "";
  display: inline-block;
  background-image: url("../icons/facebook.svg");
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}
footer .footer_middle .social-link-wrapper span.facebook a:hover:after {
  background-image: url("../icons/facebook-hover.svg");
  opacity: 1;
}
footer .footer_middle .social-link-wrapper span.youtube a {
  position: relative;
  font-size: 0;
}
footer .footer_middle .social-link-wrapper span.youtube a:after {
  content: "";
  display: inline-block;
  background-image: url("../icons/youtube.svg");
  height: 18px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}
footer .footer_middle .social-link-wrapper span.youtube a:hover:after {
  background-image: url("../icons/youtube-hover.svg");
  opacity: 1;
}
footer .footer_middle .social-link-wrapper span.insta a {
  position: relative;
  font-size: 0;
}
footer .footer_middle .social-link-wrapper span.insta a:after {
  content: "";
  display: inline-block;
  background-image: url("../icons/insta.svg");
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}
footer .footer_middle .social-link-wrapper span.insta a:hover:after {
  background-image: url("../icons/insta-hover.svg");
  opacity: 1;
}
footer .footer_middle .social-link-wrapper span.linkedin a {
  position: relative;
  font-size: 0;
}
footer .footer_middle .social-link-wrapper span.linkedin a:after {
  content: "";
  display: inline-block;
  background-image: url("../icons/linkedin.svg");
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}
footer .footer_middle .social-link-wrapper span.linkedin a:hover:after {
  background-image: url("../icons/linkedin-hover.svg");
  opacity: 1;
}
footer .footer_middle .newsletter-btn a {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 6px;
  background: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-family: "MuseoSansSemiBold", sans-serif;
  text-decoration: none;
  color: #003087;
}
footer .footer_middle .newsletter-btn a:hover,
footer .footer_middle .newsletter-btn a:focus {
  background: #007dba;
  color: #ffffff;
}
@media (min-width: 1025px) {
  footer .footer_middle .newsletter-btn a {
    font-size: 18px;
    line-height: 22px;
    padding: 15px 25px;
  }
}
footer .footer_bottom {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: "HelveticaRegular", Arial, sans-serif;
  padding-top: 24px;
  border-top: 1px solid #ffffff;
}
@media (min-width: 1025px) {
  footer .footer_bottom {
    padding-top: 32px;
    font-size: 14px;
    line-height: 22px;
  }
}
footer .footer_bottom > div {
  display: inline-block;
}
footer .footer_bottom a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  display: inline-block;
  margin-left: 5px;
  font-family: "HelveticaRegular", Arial, sans-serif;
}
footer .footer_bottom a:hover {
  text-decoration: none;
}
@media (min-width: 1025px) {
  footer .footer_bottom a {
    font-size: 14px;
    line-height: 22px;
  }
}
