h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

.paragraph--type--rich-text {
  padding: 0px 18px;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text {
    padding: 0px;
  }
}
.paragraph--type--rich-text h1,
.paragraph--type--rich-text h2,
.paragraph--type--rich-text h3,
.paragraph--type--rich-text h4,
.paragraph--type--rich-text h5,
.paragraph--type--rich-text h6 {
  color: #003087;
  padding-top: 12px;
}
.paragraph--type--rich-text h1:first-child,
.paragraph--type--rich-text h2:first-child,
.paragraph--type--rich-text h3:first-child,
.paragraph--type--rich-text h4:first-child,
.paragraph--type--rich-text h5:first-child,
.paragraph--type--rich-text h6:first-child {
  padding-top: 0;
}
@media (min-width: 1440px) {
  .paragraph--type--rich-text h1,
  .paragraph--type--rich-text h2,
  .paragraph--type--rich-text h3,
  .paragraph--type--rich-text h4,
  .paragraph--type--rich-text h5,
  .paragraph--type--rich-text h6 {
    padding-top: 16px;
  }
}
.paragraph--type--rich-text a {
  font-family: "HelveticaBold", Arial, sans-serif;
  font-weight: normal;
}
.paragraph--type--rich-text ol li,
.paragraph--type--rich-text ul li {
  font-size: 1rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text ol li,
  .paragraph--type--rich-text ul li {
    font-size: 1.125rem;
    line-height: 28px;
  }
}
.paragraph--type--rich-text ol {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  list-style-position: outside;
  padding-left: 20px;
  margin: 12px 0px;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text ol {
    margin: 16px 0px;
  }
}
.paragraph--type--rich-text ol li {
  padding-bottom: 12px;
  list-style-type: decimal;
  padding-left: 6px;
}
.paragraph--type--rich-text ol li:last-child {
  padding-bottom: 0;
}
.paragraph--type--rich-text ol li ol {
  padding-top: 12px;
  -webkit-padding-start: 24px;
  padding-inline-start: 24px;
  margin: 0px;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text ol li ol {
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;
  }
}
.paragraph--type--rich-text ol li ol li {
  padding-bottom: 12px;
  list-style-type: lower-alpha;
}
.paragraph--type--rich-text ol li ol li:last-child {
  padding-bottom: 0;
}
.paragraph--type--rich-text ol li ol li ol {
  -webkit-padding-start: 24px;
  padding-inline-start: 24px;
  margin: 0px;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text ol li ol li ol {
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;
  }
}
.paragraph--type--rich-text ol li ol li ol li {
  padding-bottom: 12px;
  list-style-type: lower-roman;
}
.paragraph--type--rich-text ol li ol li ol li:last-child {
  padding-bottom: 0;
}
.paragraph--type--rich-text ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  list-style-position: inside;
  margin: 12px 0px;
  padding-left: 20px;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text ul {
    margin: 16px 0px;
  }
}
.paragraph--type--rich-text ul li {
  list-style-type: none;
  padding-bottom: 12px;
  position: relative;
}
.paragraph--type--rich-text ul li:last-child {
  padding: 0;
}
.paragraph--type--rich-text ul li::before {
  content: url("../icons/rectangle.svg");
  display: inline-block;
  padding-right: 12px;
  top: -2px;
  position: absolute;
  left: -20px;
}
.paragraph--type--rich-text ul li ul {
  padding-top: 12px;
  -webkit-padding-start: 32px;
  padding-inline-start: 32px;
  margin: 0px;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text ul li ul {
    -webkit-padding-start: 35px;
    padding-inline-start: 35px;
  }
}
.paragraph--type--rich-text ul li ul li {
  list-style-type: none;
  padding-bottom: 12px;
}
.paragraph--type--rich-text ul li ul li:last-child {
  padding: 0;
}
.paragraph--type--rich-text ul li ul li::before {
  content: url("../icons/ellipse.svg");
  display: inline-block;
  padding-right: 12px;
}
.paragraph--type--rich-text ul li ul li ul {
  -webkit-padding-start: 16px;
  padding-inline-start: 16px;
  margin: 0px;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text ul li ul li ul {
    -webkit-padding-start: 35px;
    padding-inline-start: 35px;
  }
}
.paragraph--type--rich-text ul li ul li ul li {
  list-style-type: none;
  padding-bottom: 12px;
}
.paragraph--type--rich-text ul li ul li ul li:last-child {
  padding: 0;
}
.paragraph--type--rich-text ul li ul li ul li::before {
  content: url("../icons/polygon.svg");
  display: inline-block;
  padding-right: 12px;
}
.paragraph--type--rich-text figure.align-left {
  padding: 12px 0px 12px 0px;
}
@media (min-width: 768px) {
  .paragraph--type--rich-text figure.align-left {
    padding: 16px 39px 0px 0px;
  }
}
.paragraph--type--rich-text figure.align-left .media-embed-resized {
  width: 100% !important;
}
@media (min-width: 768px) {
  .paragraph--type--rich-text figure.align-left .field--name-field-media-image {
    max-width: 400px;
  }
}
.paragraph--type--rich-text figure.align-left figcaption {
  margin: 8px 0px 4px 0px;
  padding: 0px 0px 0px 10px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .paragraph--type--rich-text figure.align-left figcaption {
    margin: 14px 0px 16px 0px;
    max-width: 400px;
  }
}
@media (min-width: 1440px) {
  .paragraph--type--rich-text figure.align-left figcaption {
    margin: 14px 0px 32px 0px;
  }
}
.paragraph--type--rich-text figure.align-right {
  padding: 12px 0px 12px 0px;
}
@media (min-width: 768px) {
  .paragraph--type--rich-text figure.align-right {
    padding: 16px 0px 0px 39px;
  }
}
.paragraph--type--rich-text figure.align-right .media-embed-resized {
  width: 100% !important;
}
@media (min-width: 768px) {
  .paragraph--type--rich-text
    figure.align-right
    .field--name-field-media-image {
    max-width: 400px;
  }
}
.paragraph--type--rich-text figure.align-right figcaption {
  margin: 8px 0px 4px 0px;
  padding: 0px 0px 0px 10px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .paragraph--type--rich-text figure.align-right figcaption {
    max-width: 400px;
    margin: 14px 0px 16px 0px;
  }
}
@media (min-width: 1440px) {
  .paragraph--type--rich-text figure.align-right figcaption {
    margin: 14px 0px 32px 0px;
  }
}
.paragraph--type--rich-text blockquote p {
  font-family: "HelveticaBold", Arial, sans-serif;
  padding-top: 16px !important;
}
.paragraph--type--rich-text blockquote p:first-child {
  padding-top: 16px !important;
}
.paragraph--type--rich-text blockquote p::before {
  content: url("../icons/blockquote.svg");
  display: block;
  margin: 0 auto;
  padding-bottom: 8px;
}
.paragraph--type--rich-text .featured-text,
.paragraph--type--rich-text .intro-text {
  color: #5a5e6f;
  font-size: 1.25rem;
  line-height: 30px;
  font-family: "HelveticaRegular", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 12px 0px !important;
}
.paragraph--type--rich-text .featured-text::before,
.paragraph--type--rich-text .intro-text::before {
  content: "";
  display: none;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text .featured-text,
  .paragraph--type--rich-text .intro-text {
    font-size: 1.5rem;
    line-height: 36px;
    padding: 16px 0px !important;
  }
}
.paragraph--type--rich-text .intro-text {
  text-align: left;
  padding: 12px 0px 8px !important;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text .intro-text {
    padding: 16px 0px 4px !important;
  }
}
.paragraph--type--rich-text figure {
  padding: 12px 0px;
  margin: 0;
}
@media (min-width: 1440px) {
  .paragraph--type--rich-text figure {
    padding: 16px 0px;
  }
}
.paragraph--type--rich-text figure figcaption {
  color: #5a5e6f;
  font-family: "HelveticaRegular", Arial, sans-serif;
  font-style: italic;
  font-size: 0.75rem;
  margin: 8px 0px 4px 0px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-left: 3px solid #007dba;
  padding-left: 10px;
}
@media (min-width: 1440px) {
  .paragraph--type--rich-text figure figcaption {
    font-size: 0.875rem;
    line-height: 22px;
    margin: 14px 0px 0px 0px;
  }
}
.paragraph--type--rich-text img {
  height: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.paragraph--type--rich-text p {
  margin: 0;
}
.paragraph--type--rich-text p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.paragraph--type--rich-text p:first-child {
  padding-top: 0 !important;
}
.paragraph--type--rich-text
  p:has(
    .link-arrow-btn--default,
    .link-arrow-btn--white,
    .link-arrow-btn-small--default,
    .link-arrow-btn-small--white
  ) {
  padding-top: 0px;
}
.paragraph--type--rich-text .btn,
.paragraph--type--rich-text .btn-transparent {
  padding: 10px 18px 12px;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 20.8px;
  font-family: "MuseoSansSemiBold", sans-serif;
  font-weight: normal;
}
@media (min-width: 1025px) {
  .paragraph--type--rich-text .btn,
  .paragraph--type--rich-text .btn-transparent {
    padding: 15px 25px;
    border-radius: 6px;
    font-size: 1.125rem;
    line-height: 22px;
  }
}
.paragraph--type--rich-text .link-arrow-btn {
  font-family: "MuseoSansSemiBold", sans-serif;
  font-weight: normal;
}
.paragraph--type--rich-text .btn {
  border: 2px solid #c14991;
}
.paragraph--type--rich-text .btn:hover,
.paragraph--type--rich-text .btn:focus {
  border-color: #007dba;
}
