/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_300.ttf");
}
@font-face {
  font-family: "MuseoSansItalic";
  src: url("../fonts/MuseoSans_300_Italic.ttf");
}
@font-face {
  font-family: "MuseoSansSemiBold";
  src: url("../fonts/MuseoSans_700.ttf");
}
@font-face {
  font-family: "MuseoSansBold";
  src: url("../fonts/MuseoSans_900.ttf");
}
@font-face {
  font-family: "MuseoSansBoldItalic";
  src: url("../fonts/MuseoSans_900_Italic.ttf");
}
@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/Helvetica.woff");
}
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/Helvetica_Bold.woff");
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #5a5e6f;
  font-weight: 400;
  font-family: "HelveticaRegular", Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body::after {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  content: url("../icons/blue_search.svg") url("../icons/ocean_search.svg")
    url("../icons/facebook-hover.svg") url("../icons/youtube-hover.svg")
    url("../icons/linkedin-hover.svg") url("../icons/insta-hover.svg")
    url("../icons/ocean_cross.svg");
}
body a {
  color: #c14991;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body a:hover {
  color: #007dba;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body ul li,
body ol li {
  font-family: "HelveticaRegular", Arial, sans-serif;
  font-weight: 400;
  padding: 0;
}
body ul li::marker,
body ol li::marker {
  color: #007dba;
}

blockquote {
  margin: 0;
}

hr {
  background-color: #41b6e6;
  height: 3px;
  border: none;
  margin: 12px 0px;
  padding: 0;
}
@media (min-width: 1025px) {
  hr {
    height: 2px;
    margin: 16px 0px;
  }
}

p {
  color: #5a5e6f;
  font-size: 1rem;
  line-height: 24px;
  padding: 12px 0px;
  font-family: "HelveticaRegular", Arial, sans-serif;
}
@media (min-width: 1025px) {
  p {
    font-size: 1.125rem;
    line-height: 28px;
    padding: 16px 0px;
  }
}
p .link-blue,
p .link-pink {
  font-family: "HelveticaBold", Arial, sans-serif;
}
p strong,
p b {
  font-family: "HelveticaBold", Arial, sans-serif;
  font-weight: normal;
}

.link-blue {
  color: #007dba;
  cursor: pointer;
  text-decoration: underline;
  color: #007dba;
  cursor: pointer;
}
.link-blue:hover {
  color: #c14991;
}

.link-pink {
  color: #c14991;
  cursor: pointer;
  text-decoration: underline;
}
.link-pink:hover {
  color: #007dba;
}

.p14 {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 400;
}

.p16 {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "HelveticaRegular", Arial, sans-serif;
}

.p18 {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "HelveticaRegular", Arial, sans-serif;
}
@media (min-width: 1440px) {
  .p18 {
    font-size: 1.125rem;
    line-height: 28px;
  }
}

.p20 {
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 400;
  font-family: "HelveticaRegular", Arial, sans-serif;
}
@media (min-width: 1440px) {
  .p20 {
    font-size: 1.25rem;
    line-height: 30px;
  }
}

.p24 {
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "HelveticaRegular", Arial, sans-serif;
}
@media (min-width: 1025px) {
  .p24 {
    font-size: 1.5rem;
    line-height: 36px;
  }
}

.p28 {
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 400;
  font-family: "HelveticaRegular", Arial, sans-serif;
}
@media (min-width: 1440px) {
  .p28 {
    font-size: 1.75rem;
    line-height: 42px;
  }
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
}

.component__wrapper {
  margin-bottom: 32px;
}
@media (min-width: 1025px) {
  .component__wrapper {
    margin-bottom: 64px;
  }
}

.similar_component_type_below .component__wrapper {
  margin-bottom: 24px;
}
@media (min-width: 1025px) {
  .similar_component_type_below .component__wrapper {
    margin-bottom: 48px;
  }
}

.bx--skip-to-content.visually-hidden.focusable:focus {
  visibility: visible;
  background: #003087;
  position: absolute !important;
  z-index: 99;
  color: #ffffff;
}

.event_details_wrapper {
  position: relative;
  background-color: #007dba;
  color: #ffffff;
}
.event_details_wrapper .event_details {
  max-width: 1284px;
  padding: 16px 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "HelveticaRegular", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 1440px) {
  .event_details_wrapper .event_details {
    font-size: 1.5rem;
    line-height: 36px;
  }
}
.event_details_wrapper .event_details span {
  font-family: "HelveticaBold", Arial, sans-serif;
}
@media (min-width: 1440px) {
  .event_details_wrapper .event_details {
    padding: 16px 80px;
  }
}

.richtext a {
  font-family: "HelveticaBold", Arial, sans-serif;
}
.richtext ol {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  list-style-position: outside;
  padding-left: 20px;
  margin: 12px 0px;
}
@media (min-width: 1440px) {
  .richtext ol {
    margin: 16px 0px;
  }
}
.richtext ol li {
  padding-bottom: 12px;
  list-style-type: decimal;
  padding-left: 6px;
}
.richtext ol li:last-child {
  padding-bottom: 0;
}
.richtext ol li ol {
  padding-top: 12px;
  -webkit-padding-start: 32px;
  padding-inline-start: 32px;
  margin: 0px;
}
@media (min-width: 1440px) {
  .richtext ol li ol {
    -webkit-padding-start: 35px;
    padding-inline-start: 35px;
  }
}
.richtext ol li ol li {
  padding-bottom: 12px;
  list-style-type: lower-alpha;
}
.richtext ol li ol li:last-child {
  padding-bottom: 0;
}
.richtext ol li ol li ol {
  -webkit-padding-start: 16px;
  padding-inline-start: 16px;
  margin: 0px;
}
@media (min-width: 1440px) {
  .richtext ol li ol li ol {
    -webkit-padding-start: 35px;
    padding-inline-start: 35px;
  }
}
.richtext ol li ol li ol li {
  padding-bottom: 12px;
  list-style-type: lower-roman;
}
.richtext ol li ol li ol li:last-child {
  padding-bottom: 0;
}
.richtext ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  list-style-position: inside;
  margin: 12px 0px;
  padding-left: 20px;
}
@media (min-width: 1440px) {
  .richtext ul {
    margin: 16px 0px;
  }
}
.richtext ul li {
  list-style-type: none;
  padding-bottom: 12px;
  position: relative;
}
.richtext ul li:last-child {
  padding: 0;
}
.richtext ul li::before {
  content: url("../icons/rectangle.svg");
  display: inline-block;
  padding-right: 12px;
  top: -2px;
  position: absolute;
  left: -20px;
}
.richtext ul li ul {
  padding-top: 12px;
  -webkit-padding-start: 32px;
  padding-inline-start: 32px;
  margin: 0px;
}
@media (min-width: 1440px) {
  .richtext ul li ul {
    -webkit-padding-start: 35px;
    padding-inline-start: 35px;
  }
}
.richtext ul li ul li {
  list-style-type: none;
  padding-bottom: 12px;
}
.richtext ul li ul li:last-child {
  padding: 0;
}
.richtext ul li ul li::before {
  content: url("../icons/ellipse.svg");
  display: inline-block;
  padding-right: 12px;
}
.richtext ul li ul li ul {
  -webkit-padding-start: 16px;
  padding-inline-start: 16px;
  margin: 0px;
}
@media (min-width: 1440px) {
  .richtext ul li ul li ul {
    -webkit-padding-start: 35px;
    padding-inline-start: 35px;
  }
}
.richtext ul li ul li ul li {
  list-style-type: none;
  padding-bottom: 12px;
}
.richtext ul li ul li ul li:last-child {
  padding: 0;
}
.richtext ul li ul li ul li::before {
  content: url("../icons/polygon.svg");
  display: inline-block;
  padding-right: 12px;
}

.content-body.nobanner_wrapper {
  margin-top: 32px !important;
}
@media (min-width: 1025px) {
  .content-body.nobanner_wrapper {
    margin-top: 64px !important;
  }
}
.content-body .article_no_banner_wrapper .publication_date {
  font-family: "HelveticaBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  color: #007dba;
  margin-bottom: 30px;
}
@media (min-width: 1025px) {
  .content-body .article_no_banner_wrapper .publication_date {
    font-size: 15px;
    line-height: 18.75px;
  }
}
.content-body .article_no_banner_wrapper h1.nobanner_h1 {
  padding-top: 0;
}
.content-body.event_nobanner_wrapper.nobanner_wrapper {
  margin-bottom: 0 !important;
}
.content-body h1.nobanner_h1 {
  font-size: 1.75rem;
  line-height: 36px;
  margin-bottom: 20px;
}
@media (min-width: 1025px) {
  .content-body h1.nobanner_h1 {
    font-size: 2rem;
    line-height: 42px;
  }
}

.lytics_cta_hidden {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

.container {
  max-width: 1284px;
  margin: 0 auto 32px;
}
@media (min-width: 1025px) {
  .container {
    margin: 0 auto 64px;
  }
}

.container-small {
  max-width: 840px;
  margin: 0 auto 32px;
}
@media (min-width: 1025px) {
  .container-small {
    margin: 0 auto 64px;
  }
}
.container-small.similar_component_type_below_reduce_space {
  margin: 0 auto 24px;
}
@media (min-width: 1025px) {
  .container-small.similar_component_type_below_reduce_space {
    margin: 0 auto 32px;
  }
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

main {
  position: relative;
  float: left;
  width: 100%;
  min-height: 50vh;
}
@media (min-width: 1025px) {
  main {
    min-height: 60vh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
  font-family: "MuseoSansSemiBold", sans-serif;
  display: inline-block;
  border: none;
}
.btn--default {
  background-color: #c14991;
  color: #ffffff;
}
.btn--default a {
  color: #ffffff;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn--default:hover {
  background-color: #007dba;
  color: #ffffff;
}
.btn--default:hover a {
  color: #ffffff;
}
.btn--white {
  background-color: #ffffff;
  color: #003087;
}
.btn--white a {
  color: #003087;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn--white:hover {
  background-color: #007dba;
  color: #ffffff;
}
.btn--white:hover a {
  color: #ffffff;
}
.btn--tint {
  background-color: #ffffff;
  color: #003087;
}
.btn--tint a {
  color: #003087;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn--tint:hover {
  background-color: #c9efff;
  color: #003087;
}
.btn--tint:hover a {
  color: #003087;
}

.btn-small {
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
  border: none;
  display: inline-block;
}
.btn-small--default {
  background-color: #c14991;
  color: #ffffff;
}
.btn-small--default a {
  color: #ffffff;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-small--default:hover {
  background-color: #007dba;
  color: #ffffff;
}
.btn-small--default:hover a {
  color: #ffffff;
}
.btn-small--white {
  background-color: #ffffff;
  color: #003087;
}
.btn-small--white a {
  color: #003087;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-small--white:hover {
  background-color: #007dba;
  color: #ffffff;
}
.btn-small--white:hover a {
  color: #ffffff;
}
.btn-small--tint {
  background-color: #ffffff;
  color: #003087;
}
.btn-small--tint a {
  color: #003087;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-small--tint:hover {
  background-color: #c9efff;
  color: #003087;
}
.btn-small--tint:hover a {
  color: #003087;
}

.btn-transparent {
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "MuseoSansSemiBold", sans-serif;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.btn-transparent--default {
  color: #c14991;
  background-color: transparent;
  border: 2px solid #c14991;
}
.btn-transparent--default a {
  color: #c14991;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-transparent--default:hover {
  color: #007dba;
  border: 2px solid #007dba;
}
.btn-transparent--default:hover a {
  color: #007dba;
}
.btn-transparent--white {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.btn-transparent--white a {
  color: #ffffff;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-transparent--white:hover {
  border: 2px solid #41b6e6;
  color: #41b6e6;
}
.btn-transparent--white:hover a {
  color: #41b6e6;
}
.btn-transparent--tint {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.btn-transparent--tint a {
  color: #ffffff;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-transparent--tint:hover {
  border: 2px solid #c9efff;
  color: #c9efff;
}
.btn-transparent--tint:hover a {
  color: #c9efff;
}

.btn-transparent-small {
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-family: "MuseoSans", sans-serif;
  display: inline-block;
}
.btn-transparent-small--default {
  color: #c14991;
  background-color: transparent;
  border: 2px solid #c14991;
}
.btn-transparent-small--default a {
  color: #c14991;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-transparent-small--default:hover {
  color: #007dba;
  border: 2px solid #007dba;
}
.btn-transparent-small--default:hover a {
  color: #007dba;
}
.btn-transparent-small--white {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.btn-transparent-small--white a {
  color: #ffffff;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-transparent-small--white:hover {
  border: 2px solid #41b6e6;
  color: #41b6e6;
}
.btn-transparent-small--white:hover a {
  color: #41b6e6;
}
.btn-transparent-small--tint {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.btn-transparent-small--tint a {
  color: #ffffff;
  text-decoration: none;
  font-family: "MuseoSans", sans-serif;
}
.btn-transparent-small--tint:hover {
  border: 2px solid #c9efff;
  color: #ffffff;
}
.btn-transparent-small--tint:hover a {
  color: #c9efff;
}

.link-arrow-btn {
  background-color: transparent;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.link-arrow-btn--default {
  color: #c14991;
  font-family: "MuseoSansSemiBold", sans-serif;
  font-size: 1rem;
  line-height: 22px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}
.link-arrow-btn--default a {
  color: #c14991;
  font-family: "MuseoSans", sans-serif;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .link-arrow-btn--default a {
    font-size: 1.25rem;
    line-height: 26px;
  }
}
@media (min-width: 1025px) {
  .link-arrow-btn--default {
    font-size: 1.25rem;
    line-height: 26px;
  }
}
.link-arrow-btn--default::after {
  content: "";
  width: 18px;
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23C14991"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23C14991" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  position: relative;
  left: 10px;
  margin-right: 10px;
}
.link-arrow-btn--default:hover {
  color: #007dba;
}
.link-arrow-btn--default:hover a {
  color: #007dba;
}
.link-arrow-btn--default:hover::after {
  content: "";
  width: 18px;
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23007DBA"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23007DBA" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.link-arrow-btn--white {
  color: #ffffff;
  font-family: "MuseoSansSemiBold", sans-serif;
  font-size: 1.25rem;
  line-height: 26px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}
.link-arrow-btn--white a {
  color: #ffffff;
  font-family: "MuseoSans", sans-serif;
  font-size: 1.25rem;
  line-height: 26px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.link-arrow-btn--white::after {
  content: "";
  width: 18px;
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FFFFFF"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FFFFFF" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  position: relative;
  left: 10px;
  margin-right: 10px;
}
.link-arrow-btn--white:hover {
  color: #fcc3e5;
}
.link-arrow-btn--white:hover a {
  color: #fcc3e5;
}
.link-arrow-btn--white:hover::after {
  content: "";
  width: 18px;
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FCC3E5"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FCC3E5" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.link-arrow-btn-small {
  background-color: transparent;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.link-arrow-btn-small--default {
  color: #c14991;
  font-family: "MuseoSans", sans-serif;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.link-arrow-btn-small--default a {
  color: #c14991;
  font-family: "MuseoSans", sans-serif;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.link-arrow-btn-small--default::after {
  content: "";
  width: 14px;
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23C14991"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23C14991" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 10px;
  position: relative;
  left: 10px;
  top: 1px;
  margin-right: 10px;
}
.link-arrow-btn-small--default:hover {
  color: #007dba;
}
.link-arrow-btn-small--default:hover::after {
  content: "";
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23007DBA"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23007DBA" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 10px;
  position: relative;
  left: 10px;
  top: 1px;
}
.link-arrow-btn-small--white {
  color: #ffffff;
  font-family: "MuseoSans", sans-serif;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.link-arrow-btn-small--white a {
  color: #ffffff;
  font-family: "MuseoSans", sans-serif;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.link-arrow-btn-small--white::after {
  content: "";
  width: 14px;
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FFFFFF"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FFFFFF" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  position: relative;
  left: 10px;
  top: 0px;
  margin-right: 10px;
}
.link-arrow-btn-small--white:hover {
  color: #fcc3e5;
}
.link-arrow-btn-small--white:hover a {
  color: #fcc3e5;
}
.link-arrow-btn-small--white:hover::after {
  content: "";
  width: 14px;
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FCC3E5"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FCC3E5" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

form.user-login-form {
  max-width: 650px;
  width: 100%;
  margin: 80px auto;
  padding: 0 15px;
}
form.user-login-form .js-form-item {
  margin: 0 0 15px;
  display: block;
}
form.user-login-form .js-form-item label {
  display: block;
  margin: 0 0 5px;
}
form.user-login-form .js-form-item input[type="text"],
form.user-login-form .js-form-item input[type="password"],
form.user-login-form .js-form-item select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #5a5e6f;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
}
form.user-login-form .button {
  background-color: #c14991;
  font-weight: normal;
  font-size: 14px;
  padding: 16px 50px 12px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 20px 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
form.user-login-form .button:hover,
form.user-login-form .button:focus {
  background-color: #007dba;
  color: #ffffff;
}

body.path-user .layout-content {
  min-height: 50vh;
  max-width: 1284px;
  margin: 0 auto;
  padding: 0 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

.region--highlighted {
  background-color: #c14991;
  position: relative;
  margin: 0 0 40px;
}
.region--highlighted:after {
  content: "";
  clear: both;
  display: table;
}
.region--highlighted .container {
  margin-bottom: 0;
}
.region--highlighted .region--highlighted__inner {
  color: #ffffff;
}
.region--highlighted div[data-drupal-messages] {
  margin: 0;
  padding: 15px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.region--highlighted div[data-drupal-messages] a {
  color: #ffffff !important;
}
.region--highlighted ul:not(.contextual-links) {
  color: #ffffff;
  display: block;
  padding: 0;
  margin: 0;
}
.region--highlighted ul:not(.contextual-links) li {
  display: inline-block;
  border-right: 1px solid #ffffff;
}
.region--highlighted ul:not(.contextual-links) li:first-child {
  border-left: 1px solid #ffffff;
}
@media only screen and (max-width: 767px) {
  .region--highlighted ul:not(.contextual-links) li {
    display: block;
    border-bottom: 1px solid #ffffff;
    border-right: none;
  }
  .region--highlighted ul:not(.contextual-links) li:first-child {
    border-left: none;
  }
}
.region--highlighted ul:not(.contextual-links) li a {
  display: inline-block;
  padding: 8px 20px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 8px;
  background: #003087;
  z-index: 15;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
  line-height: 0px;
  font-size: 0px;
}
.back-to-top:after {
  background: url('data:image/svg+xml,%3Csvg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="6.875" width="16.875" height="2.25" rx="1.125" fill="%23FFFFFF"/%3E%3Cpath d="M11.25 1.25L18 8L11.25 14.75" stroke="%23FFFFFF" stroke-width="2.25" stroke-linecap="round"/%3E%3C/svg%3E');
  content: "";
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 18px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  position: relative;
  top: 3px;
}

.back-to-top:hover {
  cursor: pointer;
}

.main-content-wrapper {
  padding-top: 123px;
  /* padding-bottom: 100px; */
}
